<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.huongdanjava"/>
        <listEntry value="archetypeArtifactId=huongdanjava-springmvc-archetype"/>
        <listEntry value="archetypeVersion=2.1.1"/>
        <listEntry value="groupId=com.min"/>
        <listEntry value="artifactId=app01"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.min.app01"/>
        <listEntry value="outputDirectory=C:\GREEN_JAVA\springstudy2"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\ADMINI~1\AppData\Local\Temp\m2e-archetypeGenerator5031353208376413811"/>
</launchConfiguration>
